$tint: rgba(0, 0, 0, 0.5);

body{
  font-family: "Montserrat";
}

#hero{
  background-image: linear-gradient($tint,$tint),url(./assets/img/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    color: #e82929;
    font-size: 5rem;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  }

  h2{
    color: #848484;
  }
}

#projects{
  min-height: 100vh;
}